<!DOCTYPE >
<html lang="En">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Michael A. Dennis<michaeladennis@comcast.net>">
        <link href="/css/bootstrap-theme.css" rel="stylesheet">
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
            <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="/js/html5shiv.js"></script>
            <![endif]-->
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/scripts.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <?php echo $this->getPartial('mainMenu', 'Primary', array('location'=>'Error'));?>
        <h1>Application error!</h1>
        <?php
        switch($this->errorType)
        {
            case '403 Forbidden':
                echo $this->getPartial('403', 'Primary');
                break;
            case '404 Not Found':
            default:
                echo $this->getPartial('404', 'Primary');
                break;
        }
        ?>
    </body>
</html>